* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./background-image.jpg');
  background-size: cover;
  background-position: center;
}

.list {
  position: relative;
  width: 500px;
  height: 500px;
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
  color: #f95700;
  box-shadow: 10px 10px 25px 0px rgba(148, 148, 148, 1);
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.list__input {
  width: 80%;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #c9c9c9;
}

.list__input:focus {
  outline: none;
}

.list__input::placeholder {
  color: #aaaaaa;
}

.list__add-btn,
.list__remove-all-btn {
  cursor: pointer;
  padding: 8px 10px;
  border: none;
  font-size: 20px;
  background-color: #f95700;
  color: #ffffff;
  border-radius: 50%;
}

.items {
  padding: 20px 30px;
  list-style: none;
}

.item__row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item__check,
.item__remove-btn {
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  color: inherit;
}

.item__check {
  max-width: fit-content;
}

.checked {
  text-decoration: line-through;
  color: #ffaf84;
}

.item__name {
  font-size: 20px;
  margin: 0px 10px;
}

.list__add-btn,
.list__remove-all-btn {
  transition: all 0.3s linear;
}

.list__add-btn:hover,
.list__remove-all-btn:hover {
  transform: scale(1.1);
}

.list__remove-all-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
